body {
  background: #ADADAD;
}

#logo {
  width: 8%;
}

#title {
  /*float: right;*/
}

.header {
  font-family: 'Arial';
  text-align: center;
  background-color: white;
  padding: 2%;
  background-image: url("../img/refbot-small.png");
  background-repeat: no-repeat;
  background-position: 35%;
}

.refs img {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.refs {
  margin: 10px;
  padding: 5px;
}

.buttons li {
  font-size: 2em;
  list-style: none;
  display: block;
  margin: 2px;
}

button {
  background-color: white;
}
