body {
  background: #ADADAD;
}

#logo {
  width: 8%;
}

#title {
  /*float: right;*/
}

.header {
  font-family: 'Krungthep';
  text-align: center;
  background-color: white;
  padding: 2%;
  background-image: url("../img/refbot-small.png");
  background-repeat: no-repeat;
  background-position: 20%;
  border-radius: 5px;
}

.header h2 {
  float: left;
}

.header p {
  /*margin-top: 40px;*/
}

.header span {
  background-color: white;
}

.refs img {
  width: 100%;
  border-radius: 5px;
  /*position: relative;*/
}

.refs {
  padding-left: 0px;
  padding-right: 0px;
  margin: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
}

.buttons {
  display: block;
  margin: 2px;
  float: left;
  /*position: absolute;*/
  /*top: 200px;*/
  border-radius: 5px;

}

.buttons a {
  opacity: 0.6;
  margin: 2px;
  background-color: grey;
  color: white;
}

.buttons a:hover {
  opacity: 1;
  background-color: white;
  border: 1px grey solid;
}
