<html ng-app='refApp'>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/refbot.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller = 'MainCtrl as ctrl'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <!-- Add your site or application content here -->
            <div class='header'>
                <h1 id='title'>RefBot</h1>
                <p>hello! my name is refbot. feed me links and i display.</p>
                <form class='row' ng-submit="ctrl.addRef(url, size)">
                    Enter url and hit enter:
                  <input type="text" ng-model="url " name="url" placeholder='url'></input>
                  <input type="text" ng-model="size" name="size" placeholder='size'></input>
                  <input type="submit" id="submit" value="Submit"></input>
              </form>
          </div>
          <div class='row'>
            <div ng-repeat='ref in ctrl.references'>
                <img class='refs col-md-{{ref.size}}' ng-src="{{ref.url}}"></img>
            </div>
        </div>


        <script src="js/plugins.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js" ></script>
        <script src="js/main.js"></script>
    </body>
    </html>
