<html ng-app='refApp'>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app='refApp'> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app='refApp'> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app='refApp'> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/refbot.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class='container' ng-controller = 'MainCtrl as ctrl'>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

            <!-- Add your site or application content here -->
            <div class='header'>
                <h1 id='title'>RefBot</h1>
                <p>hello! my name is refbot. feed me image urls and i display.</p>
                <form class='row ' ng-submit="ctrl.addRef(url, size)">
                    Enter url and hit enter:
                    <input type="text" ng-model="url " name="url" placeholder='url'></input>
                    <select type="text" ng-model="size" name="size" placeholder='size'>
                        <option value='small'>small</option>
                        <option value='medium'>medium</option>
                        <option value='large'>large</option>
                        <option value='x-large'>extra large</option>
                    </select>
                    <input class='btn btn-primary'type="submit" id="submit" value="Submit"></input>
                </form>
            </div>
            <div class='all-refs'>
                <div ng-repeat='ref in ctrl.references'>
                    <div class='card refs col-md-{{ref.size}} col-sm-{{ref.size}} col-xs-{{ref.size}}'>
                        <img class='col-md-{{ref.size}} col-sm-{{ref.size}} col-xs-{{ref.size}}' ng-src="{{ref.url}}"></img>
                        <br>
                        <div class='buttons'>
                                    <a class='btn' ng-click="ctrl.changeSize(ref, 1)">+</a>
                                    <a class='btn' ng-click="ctrl.changeSize(ref,-1)">-</a>
                                    <a class='btn' ng-click="ctrl.references.splice($index,1)">x</a>
                        </div>
                    </div>
                </div>
            </div>


            <script src="js/plugins.js"></script>
            <script src="js/vendor/angular.js" ></script>
            <script src="js/main.js"></script>
        </body>
        </html>
