<form class='row url-form' ng-submit="ctrl.addRef(url, size)">
  Enter url and hit enter:
  <input type="text" class="form-control" ng-model="url" name="url" placeholder='url'></input>
  <div class='url-form-buttons'>
    <select type="text" ng-model="size" name="size" placeholder='size'>
      <option value='small'>small</option>
      <option value='medium'>medium</option>
      <option value='large'>large</option>
      <option value='x-large'>extra large</option>
    </select>
    <input class='btn btn-primary'type="submit" id="submit" value="Submit"></input>
  </div>
</form>
